@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<dialog id="result-dialog">
    <div class="dialog-content">
        @ChildContent

        <br>
        <button class="btn btn-filled btn-auto" @onclick="HideModalAsync">
            Registrar IMC
        </button>
    </div>
</dialog>

@code {
    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter]
    public EventCallback<MouseEventArgs> OnModalHideCallBack { get; set; }

    public async Task ShowModalAsync()
    {
        await JsRuntime.InvokeVoidAsync("showModal", "result-dialog");
    }

    public async Task HideModalAsync()
    {
        await JsRuntime.InvokeVoidAsync("hideModal", "result-dialog");
        NavigationManager.NavigateTo("/imc-pwa/#history");
        await OnModalHideCallBack.InvokeAsync();
    }
}