@page "/"

<PageTitle>Calculadora IMC</PageTitle>

<div class="container">
    <Slide Id="imc">
        <img src="img/icon-no-bg.png" alt="Calculadora IMC">
        <Calculator />
    </Slide>
    <Slide Id=" history">
        <History />
    </Slide>
    <Slide Id="about">
        <h1>Sobre</h1>
    </Slide>
</div>
